doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
        script(type="text/javascript" src="/javascripts/jquery-2.1.1.js")
        script(type="text/javascript" src="/bootstrap/js/bootstrap.js")
    header
    h1(class="heading")= X-ReadingList
    h2 A tool to help sort through decades of comics about the X-Men.
    p
        | Data provided by
        a(href="http://www.marvel.com")= Marvel
        | . © 2014 Marvel

    p
        | Credit for the issue information belongs to the
        a(href="http://www.comics.org/")= Grand Comics Database
        | and is used according to the
        a(href="http://creativecommons.org/licenses/by/3.0/")= Creative Commons Attribution 3.0 Unported license

    body
        block content