//
   Created by Kelly on 6/1/2015.
form(id="query" ng-show="queryCtrl.showQuery")
    div
        h1(class="light-text notice") Search for issues:
        div(ng-repeat="list in queryCtrl.lists")
            div(class="")
                div(class="controls row")
                    a(type="button" class="btn btn-default col-xs-12 col-sm-4 btn-lg fixed-title" data-toggle="button"
                    ng-click="list.setSelecting()") {{list.title}}

                    div(class="search col-xs-12 col-sm-8" ng-show="list.selecting")
                        label(class="search-label") Search:
                        input(class="dark-text" type="text" ng-model="list.searchText" ng-change="list.updateDisplayList()")
                        button(class="dark-text btn btn-default" ng-click="list.clearSelections()") Clear Selections

                div(class="selection-summary light-text" ng-hide="list.selecting || list.getDescription().length < 1")
                    p(ng-repeat="line in list.getDescription()") {{line}}

                div(ng-show="list.selecting")
                    div(class="row dark-row light-text")
                        div(ng-class="list.hasAllColumn ? 'col-xs-6' : 'col-xs-8'")
                        div(class="col-xs-2" ng-show="list.hasAllColumn") All Of
                        div(class="col-xs-2") Any Of
                        div(class="col-xs-2") Excluding

                    div(infinite-scroll="list.increaseLimit()")
                        div(class="row" ng-repeat="name in list.displayList"
                            ng-class-even="'dark-row'" ng-class-odd="'light-row'")

                            div(class="names light-text" ng-class="list.hasAllColumn ? 'col-xs-6' : 'col-xs-8'") {{name}}

                            div(class="col-xs-2" ng-show="list.hasAllColumn")
                                button(type="button" class="btn selection-button"
                                ng-class="list.allOf.indexOf(name) >= 0 ? 'glyphicon glyphicon-ok' : 'btn-default'"
                                ng-click="list.toggleList('All', name)")

                            div(class="col-xs-2")
                                button(type="button" class="btn selection-button"
                                ng-class="list.anyOf.indexOf(name) >= 0 ? 'glyphicon glyphicon-ok' : 'btn-default'"
                                ng-click="list.toggleList('Any', name)")

                            div(class="col-xs-2")
                                button(type="button" class="btn selection-button"
                                ng-class="list.excluded.indexOf(name) >= 0 ? 'glyphicon glyphicon-remove' : 'btn-default'"
                                ng-click="list.toggleList('Exclude', name)")

        div(class="row selection-summary" id="date ")
            label(class="notice") From:
            input(class="darkText" type="number" min="1963" max="2015" ng-model="queryCtrl.startYear")
            label(class="notice") To:
            input(class="darkText" type="number" min="1963" max="2015" ng-model="queryCtrl.endYear")

    button(type="button" class="btn btn-success btn-block btn-lg" ng-click="queryCtrl.query()") Search
